/*animações */

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes right {
  from {
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}

.animate-right {
  animation-name: right;
  animation-duration: 500ms;
}

.animate-appear{
  animation-name: appear;
  animation-duration: 300ms;
  animation-fill-mode: backwards;
}