aside.sidebar {
    position: fixed;
    height: 100%;
    padding: 3.2rem 2.4rem;
    background: #15c3d6;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #12afcb;
    border-radius: 1.6rem;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: background-color 0.2s;
  }
  
  aside.sidebar footer button:hover {
    background: #14d6eb;
  }
  
  .with-sidebar {
    padding-left: 11rem;
  }

  #sidebar-top{
    margin-top: -65px;}