<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Happy</title>

  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-landing.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,600&display=swap" rel="stylesheet">
</head>

<body>
  <div id="page-landing">
    <div id="container">
      <header>
        <img id="logo" src="/images/logo.svg" alt="Logomarca de Happy" />

        <div class="location animate-up">
          <strong>Três corações</strong>
          <p>Minas Gerais</p>
        </div>
      </header>
      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>

        <section class="visit">
          <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
          <a class="animate-up" href="/orphanages" title="visite orfanatos">
            <img class="animate-up" src="/images/arrow.svg" alt="Ir para o mapa" />
          </a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>