<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lar Anjo da guarda | Happy</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <link rel="icon" href="/images/logo-icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/page-orphanage.css" />
    <link rel="stylesheet" href="/css/buttons.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-orphanage">
      <aside class="animate-right sidebar">

        <img src="/images/map-marker.svg" alt="Happy">

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.svg" alt="Voltar">
          </button>
        </footer>

      </aside>

      <main class="animate-appear with-sidebar">
        <div class="orphanage-details">
          <img src="/images/home.jpg" alt="Lar Anjo da guarda" />

          <div class="images">
            <button onclick="selectImage(event)" class="active" type="button">
              <img src="https://source.unsplash.com/random?id=1" alt="Lar Anjo Guarda" />
            </button>

            <button onclick="selectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=2" alt="Lar Anjo Guarda" />
            </button>

            <button onclick="selectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=3" alt="Lar Anjo Guarda" />
            </button>

            <button onclick="selectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=4" alt="Lar Anjo Guarda" />
            </button>

            <button onclick="selectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=5" alt="Lar Anjo Guarda" />
            </button>

            <button onclick="selectImage(event)" type="button">
              <img src="https://source.unsplash.com/random?id=6" alt="Lar Anjo Guarda" />
            </button>
          </div>

          <div class="orphanage-details-content">
            <h1>Lar Anjo da Guarda</h1>

            <p>
              Presta assistência a crianças de 06 a 15 anos que se encontre em
              situação de risco e/ou vulnerabilidade social.
            </p>

            <div class="map-container">
              <div id="mapid"></div>

              <footer><a href="">Ver rotas no Google Maps </a></footer>
            </div>

            <hr />

            <h2>Instruções para visita</h2>

            <p>
              Venha como se sentir a vontade e traga muito amor e paciência para
              dar.
            </p>

            <div class="open-details">
              <div class="hour">
                <img src="/images/clock.svg" alt="Horários"/>
                Horário de visitas Das 08h até 18h
              </div>
              <div class="open-on-weekends">
                <img src="/images/info.svg" alt="Informações"/>
                Atendemos nos fins de semanas
              </div>
            </div>
            <button class="primary-button" type="button">
              <img src="/images/whatsapp.svg" alt="Chamar no whatsapp"/>
              Entrar em Contato
            </button>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/page-orphanage.js"></script>
  </body>
</html>
